$InputFileName /opt/couchbase/var/lib/couchbase/logs/error.1
$InputFileTag couchbase-error:
$InputFileStateFile couchbase-error
$InputRunFileMonitor

$InputFileName /opt/couchbase/var/lib/couchbase/logs/info.1
$InputFileTag couchbase-info:
$InputFileStateFile couchbase-info
$InputRunFileMonitor

$InputFileName /opt/couchbase/var/lib/couchbase/logs/couchdb.1
$InputFileTag couchbase-couchdb:
$InputFileStateFile couchbase-couchdb
$InputRunFileMonitor

$InputFilePollInterval 10
